:root {
  --title-color: #192430;
  --description-color: #3c4a59;
  --bebas-font: "Bebas Neue", cursive;
  --mont-font: "Montserrat", sans-serif;
}
nav {
  margin: 10px 0;
  display: flex;
  place-content: center;
  min-height: 60px;
}
.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navigation__item {
  list-style: none;
  margin-left: 10px;
}
.navigation__link {
  text-decoration: none;
  color: var(--description-color);
  font-family: var(--bebas-font);
  font-size: 1.5rem;
}
.navigation__link:hover {
  color: var(--title-color);
}
section {
  margin: 5px 10px;
  width: 100%;
}
.person__name {
  font-family: var(--bebas-font);
  font-size: 3rem;
  color: var(--title-color);
}
main {
  padding: 0 10px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    "person person person"
    "about divider skills"
    "education divider language"
    "code divider projects"
    "contacts divider projects";
}
.person {
  grid-area: person;
  display: flex;
  flex-direction: column;
  place-items: center;
}
#skills {
  grid-area: skills;
}
#about {
  grid-area: about;
}
#education {
  grid-area: education;
}
.education__list {
  padding: 0 15px;
}
#language {
  grid-area: language;
}
#contacts {
  grid-area: contacts;
}
#projects {
  grid-area: projects;
}
#code {
  grid-area: code;
}
.divider {
  grid-area: divider;
  width: 2px;
  height: 100%;
  background: black;
}
.title {
  margin: 0 10px;
  font-family: var(--bebas-font);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--title-color);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.description {
  margin: 9px;
  font-family: var(--mont-font);
  color: var(--description-color);
}
.description__item {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.projects__container {
  display: flex;
  place-content: center;
}
.projects__img {
  max-height: 277px;
  max-width: 100%;
}
footer {
  font-family: var(--mont-font);
  display: grid;
  place-items: center;
  grid-template-areas: "copyright github school";
  min-height: 90px;
}
.footer__copyright {
  grid-area: copyright;
}
.footer__github {
  text-decoration: none;
  color: var(--description-color);
  grid-area: github;
}
.footer__school {
  grid-area: school;
}

@media (max-width: 800px) {
  main {
    padding: 0 10px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
      "person"
      "about"
      "skills"
      "education"
      "language"
      "code"
      "projects"
      "contacts";
  }

  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: " copyright copyright" "github school";
  }
}
